
{% extends 'base1.html' %}

{% block content %}
    <div class="content-container">
        <h1>Registro de Entradas</h1>
        <p>Bienvenido al sistema de control de estacionamiento. Aquí podrás registrar la entrada de tu vehículo en el estacionamiento. Por favor, asegúrate de guardar el código que se te proporcionará tras el registro, ya que lo necesitarás para registrar la salida del vehículo.</p>
        <p>Para registrar una entrada, completa el formulario proporcionado y asegúrate de que toda la información sea correcta. El sistema te asignará un código único que deberás conservar. Este código te permitirá registrar la salida de tu vehículo y facilitará la gestión de espacios en el estacionamiento.</p>
    </div>
{% endblock %}
