{% extends 'base.html' %}

{% block title %}Detalles del Usuario{% endblock %}

{% block content %}
    <h1>Detalles del Usuario</h1>
    <p><strong>Nombres:</strong> {{ usuario.name }}</p>
    <p><strong>Apellidos:</strong> {{ usuario.lastname }}</p>
    <p><strong>Correo Electrónico:</strong> {{ usuario.email }}</p>
    <p><strong>DNI:</strong> {{ usuario.dni }}</p>

    <a href="{% url 'index' %}" class="btn">Volver al Inicio</a>
    <a href="{% url 'editar_usuario' usuario.id %}" class="btn">Editar</a>
{% endblock %}
